# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Hypothesis testing cache
.hypothesis/

# Local virtual environments
.venv/

# FreeCAD temp/cache
*.FCStd1
*.FCBak
*.FCStd~
*.FCStd#
*.FCStd##
*.tmp

# VS Code
.vscode/

# Logs
*.log
ruff_ci_errors.txt

# Build output
dist/
build/

# macOS Finder cruft
.DS_Store
